@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.boxiframe{
    width: 50vw;
    height: 50vh;  
    background: rgb(66, 183, 230);  

    margin: 10px 30px 10px 60px;
    padding: 10px 30px 80px 60px;

}
.h2titulovideo{ 
    font-family: "Press Start 2P", system-ui;
    width: 96%;
    height: 1%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}
.videoiframe{
    width: 95%;
    height: 95%;
    

}




