@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

*{
    background-color:azure;
    padding: 0;
    margin: 0;
    
}

.navegate_home{
    display: flex

}

.box_navegate{
    margin-left:45%;
    margin-right: 2%;
    align-content: center;
    
}

.link_navegate{
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    margin-left: 15px;
    margin-top: 90px;   
    color: black;
    cursor:pointer; 
}

.boxiframe{     
    background: rgb(66, 183, 230);  
    padding: 1% 1% 1% 1%;
    margin: 10%;
    align-items: center;
}
.h2titulovideo{ 
    font-family: "Mystery Quest", system-ui;
    text-align: center;
    background-color:rgb(66, 183, 230) ;
}
.videoiframe{
   
   height: 90vh;
   width: 100%;
   

}




